header{
    background-color: lightslategray;
    text-align: center;
    padding: 25px;
    height: 100px;
    border: 22px;
    margin: 10px;
}


.erin{ 

    width: 200ßpx;
    height: 250px;
    padding: 25px;
    align: left;
}

.about-me{

    text-align: center;
    background-color: antiquewhite;
}

.container nav{

    background-color: cornsilk;
    text-align: center;
}

.p1{
    text-align: right;
}