header{
    background-color: lightslategray;
    text-align: center;
    padding: 25px;
    height: 100px;
    border: 22px;
    margin: 10px;
    width: 100%;


}

.about-me{

    text-align: center;
    background-color: antiquewhite;
    width: 100%;
    margin: 10px;
    padding: 25px;
    border: 22px;
}

.nav{

    background-color: lightgray;
    text-align: center;
    margin: 10px;
    padding: 25px;
    border: 22px;
    width: 100%;
    
}

.p2{

    border: 25px;
    margin: 10px;
}


.portfolio{ 

    text-align: center;
    background-color: antiquewhite;
    margin: 10px;
    padding: 25px;
    border: 22px;

}

.form-group {

    margin: 10px;

}

